                                                                        body {
                                                                        background-image: linear-gradient(to bottom, rgb(175, 225, 245), white, rgb(175, 225, 245));
                                                                        background-size: cover;
                                                                        background-repeat: no-repeat;
                                                                    }
                                                                    
                                                                    #fea1 {
                                                                        background-image: url("img/sky.jpeg");
                                                                        background-size: cover;
                                                                        background-repeat: no-repeat;
                                                                        border-bottom-left-radius: 20%;
                                                                        border-bottom-right-radius: 20%;
                                                                        border-top-left-radius: 20%;
                                                                        border-top-right-radius: 20%;
                                                                    }
                                                                    
                                                                    #tr {
                                                                        background-image: url("img/sky.jpeg");
                                                                        background-size: cover;
                                                                        background-repeat: no-repeat;
                                                                    }
                                                                    
                                                                    .cr {
                                                                        background-image: url("img/leaf.jpeg");
                                                                        background-size: cover;
                                                                        background-repeat: no-repeat;
                                                                        margin: 20px;
                                                                        padding-top: 80px;
                                                                        border-bottom-left-radius: 100px;
                                                                        border-bottom-right-radius: 100px;
                                                                        border-top-left-radius: 100px;
                                                                        border-top-right-radius: 100px;
                                                                    }
                                                                    
                                                                    @media only screen and (max-width: 600px) {
                                                                        #mom {
                                                                            display: none;
                                                                        }
                                                                        #d2 {
                                                                            display: block;
                                                                        }
                                                                    }
                                                                    
                                                                    #sr {
                                                                        border-bottom-left-radius: 0px;
                                                                        border-bottom-right-radius: 30px;
                                                                        border-top-left-radius: 30px;
                                                                        border-top-right-radius: 0px;
                                                                    }
                                                                    
                                                                    #d2 {
                                                                        display: none;
                                                                    }
                                                                    
                                                                    .sr1 {
                                                                        background-image: linear-gradient(to right, rgb(243, 216, 165), rgb(247, 247, 238));
                                                                        border: 2px solid rgb(250, 111, 250);
                                                                        border-bottom-left-radius: 0px;
                                                                        border-bottom-right-radius: 30px;
                                                                        border-top-left-radius: 30px;
                                                                        border-top-right-radius: 0px;
                                                                        padding-top: -200px;
                                                                        padding-bottom: -200px;
                                                                    }
                                                                    
                                                                    .sr6 {
                                                                        background-image: url("img/c3.jpeg");
                                                                        background-size: cover;
                                                                        border: 2px solid rgb(250, 111, 250);
                                                                        border-bottom-left-radius: 30px;
                                                                        border-bottom-right-radius: 30px;
                                                                        border-top-left-radius: 30px;
                                                                        border-top-right-radius: 30px;
                                                                        padding-top: 50px;
                                                                        padding-bottom: 50px;
                                                                    }
                                                                    
                                                                    #kid {
                                                                        color: orange;
                                                                        font-size: 18px;
                                                                    }
                                                                    
                                                                    #cor {
                                                                        background-color: rgb(248, 213, 248);
                                                                        border-bottom-left-radius: 30px;
                                                                        border-bottom-right-radius: 30px;
                                                                        border-top-left-radius: 30px;
                                                                        border-top-right-radius: 30px;
                                                                        cursor: pointer;
                                                                    }
                                                                    
                                                                    .register .nav-tabs .nav-link:hover {
                                                                        border: none;
                                                                    }
                                                                    
                                                                    .text-align {
                                                                        margin-top: -3%;
                                                                        margin-bottom: -9%;
                                                                        padding: 10%;
                                                                        margin-left: 30%;
                                                                    }
                                                                    
                                                                    .form-new {
                                                                        margin-right: 22%;
                                                                        margin-left: 20%;
                                                                    }
                                                                    
                                                                    .register-heading {
                                                                        margin-left: 21%;
                                                                        margin-bottom: 10%;
                                                                        color: #e9ecef;
                                                                    }
                                                                    
                                                                    .register-heading h1 {
                                                                        margin-left: 21%;
                                                                        margin-bottom: 10%;
                                                                        color: #e9ecef;
                                                                    }
                                                                    
                                                                    .register {
                                                                        background: -webkit-linear-gradient(left, #055a4f, #00c6ff);
                                                                        margin-top: 3%;
                                                                        padding: 3%;
                                                                        border-radius: 2.5rem;
                                                                    }
                                                                    
                                                                    .btnSubmit {
                                                                        width: 50%;
                                                                        border-radius: 1rem;
                                                                        padding: 1.5%;
                                                                        color: #fff;
                                                                        background-color: #03612e;
                                                                        border: none;
                                                                        cursor: pointer;
                                                                        margin-right: 6%;
                                                                        color: rgb(246, 246, 252);
                                                                        margin-top: 4%;